* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .5px;
}

@font-face {
  font-family: Inter;
  src: url("assets/Inter.woff2") format("woff2");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}