* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .5px;
}

@font-face {
  font-family: Inter;
  src: url("assets/Inter.woff2") format("woff2");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #000000;
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
  color: white;
  font-family: Inter;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}