.index {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Inter;
  overflow: hidden;
  display: flex;
  justify-content: center;
  user-select: none;

  .main {
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(~/assets/img/grid.svg);
    background-position: 50% 54%;

    --cursor-x: center;
    --cursor-y: center;

    h1,
    .desc,
    .projects_link {
      z-index: 1;
    }

    h1 {
      font-size: 60px;
      letter-spacing: 2px;
    }

    .desc {
      color: #fff;
      opacity: 0.7;
      font-size: 20px;
      margin-top: 8px;
      font-weight: 300;
      text-align: center;
    }

    .projects_link {
      cursor: pointer;
      padding: 8px;
      padding-inline: 20px;
      background-color: #3b3b3b50;
      border-radius: 20px;
      display: flex;
      gap: 10px;
      transition: .2s;
      color: white;
      text-decoration: none;
      margin-top: 22px;

      &:hover {
        gap: 20px;
      }
    }

    .about_link {
      margin-top: 16px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      padding: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: url(~/assets/img/bg.jpg);
      background-size: cover;
      z-index: -1;
      -webkit-filter: saturate(100%);
      filter: saturate(100%);
      opacity: .2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      z-index: 0;
      pointer-events: none;

      background-image: radial-gradient(circle/*  at var(--cursor-x) var(--cursor-y) */, transparent 0,black 100%);
    }
  }

  .footer {
    position: fixed;
    bottom: 5px;
    display: flex;
    gap: 10px;

    .link {
      color: lightgray;
      text-decoration: none;
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 1px;
      position: relative;
      padding: 10px;
      padding-inline: 20px;

      .preview {
        display: flex;
        width: 250px;
        aspect-ratio: 16 / 9;
        transform-origin: center bottom;
        scale: .8 0;
        transition: .2s ease-in-out;
        border-radius: 12px;
        background: #ffffff60;
        border: 2px solid #ffffff60;
        position: absolute;
        left: 50%;
        translate: -50% 20px;
        opacity: 0;
        bottom: 40px;
        pointer-events: none;

        .img {
          width: 100%;
          height: 100%;
          background-size: 100%;
          border-radius: 5px;
          margin: 7px;
          box-shadow: 0 0 7px #000000aa;
        }
      }

      .gh>.img {
        background-image: url("~/assets/img/gh.jpg");
      }

      .yt>.img {
        background-image: url("~/assets/img/yt.jpg");
      }

      .dc>.img {
        background-image: url("~/assets/img/dc.jpg");
      }

      &:hover {
        color: white;

        .preview {
          scale: 1 1;
          translate: -50% 0;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    --cursor-x: center !important;
    --cursor-y: center !important;
  }

  .preview {
    display: none !important;
  }

  .footer {
    width: 100%;
    gap: 0;
    justify-content: space-around;
    padding-inline: 20px;

    .link {
      padding: 10px !important;
    }
  }
}